<h1 translate>Documents</h1>
<p translate>This page presents a selection of my academic works that I consider the most relevant.</p>

<h2>Trabajo de fin de máster</h2>
<ul>
    <li>
        <h4>Game Design and Implementation of...</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a href="">Descargar en PDF</a></p>
    </li>
</ul>

<h2>Asignatura X</h2>
<ul>
    <li>
        <h4>Game Design and Implementation of...</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a href="">Descargar en PDF</a></p>
    </li>

    <li>
        <h4>Game Design and Implementation of...</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a href="">Descargar en PDF</a></p>
    </li>
</ul>
