<section class="container">
    <div class="row">
        <div class="col-12 col-lg-9 mx-auto">
            <h1 translate>Documents</h1>
            <p translate>This page presents a selection of my academic works that I consider the most relevant.</p>

            <h2>Trabajo de fin de máster</h2>
            <ul>
                <li>
                    <h4>Game Design and Implementation of...</h4>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="">Download as PDF</a></p>
                </li>
            </ul>

            <h2>Asignatura X</h2>
            <ul>
                <li>
                    <h4>Game Design and Implementation of...</h4>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="">Download as PDF</a></p>
                </li>

                <li>
                    <h4>Game Design and Implementation of...</h4>
                    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.</p>
                    <p><a href="">Download as PDF</a></p>
                </li>
            </ul>
        </div>
    </div>
</section>
