<section id="home-conclusion">
    <div class="container">
        <h1 translate>Do you want to know more?</h1>
        <p translate>You can get in touch with me using:</p>
        <app-social-networks></app-social-networks>

        <p class="mt-3" translate>Or you can <a target="_blank" href="{{cvHref}}" translate>download my CV as a PDF</a></p>

        <p class="mt-3" translate>You can also explore my
            <a [routerLink]="['projects']" translate>projects</a>,
            <a [routerLink]="['activities']" translate>activities</a> and
            <a [routerLink]="['documents']" translate>academic documents</a>.
        </p>
    </div>
</section>
