<section id="profile">
    <img src="assets/img/profile.jpg" [alt]="'Picture of me' | translate"/>
    <h3>Samuel Soutullo</h3>
    <h5>Centro Singular de Investigación en Tecnologías Inteligentes (CITIUS)</h5>

    <app-social-networks></app-social-networks>
</section>

<section id="about-me">
    <h1 translate>About me</h1>
    <p translate>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.</p>

    <h4 translate>Interests</h4>
    <ul id="interests">
        <li translate>Videogames development</li>
        <li translate>Android applications development</li>
        <li translate>Web applications development</li>
    </ul>

    <h4 translate>Education</h4>
    <ul id="education">
        <li>
            <p translate>BsC in Computer Engineering</p>
            <h5 translate>University of Santiago de Compostela (2014 - 2018)</h5>
        </li>
        <li>
            <p translate>MsC in Game Design and Technology</p>
            <h5 translate>University of Gothenburg (2018 - 2020)</h5>
        </li>
    </ul>
</section>

<app-responsive-section [title]="'Experience' | translate">
    <ul>
        <li>
            <app-experience
                [title]="'Research Support Superior Technician' | translate"
                [corporation]="'Centro Singular de Investigación en Tecnologías Inteligentes (USC)' | translate"
                [dayStart]="'2020-08-24' | translate"
                [dayEnd]="'2020-12-14' | translate"
                [description]="'Citius description' | translate"
                [imageSrc]="'assets/img/placeholder-icon.png'"
            ></app-experience>
        </li>
    </ul>
</app-responsive-section>

<app-responsive-section [title]="'Skills' | translate">
    <ul>
        <li>
            <app-skill [title]="'General purpose languages' | translate">
                <ul>
                    <li>Java</li>
                    <li>Kotlin</li>
                    <li>C</li>
                    <li>C++</li>
                    <li>Python</li>
                </ul>
            </app-skill>
        </li>
    </ul>
</app-responsive-section>

<section id="home-conclusion">
    <h1 translate>Do you want to know more?</h1>
    <p translate>You can get in touch with me using:</p>
    <app-social-networks></app-social-networks>

    <p translate>Or you can <a href="" translate>download my CV as a PDF</a></p>

    <p translate>You can also explore my
        <a [routerLink]="['projects']" translate>projects</a>,
        <a [routerLink]="['activities']" translate>activities</a> and
        <a [routerLink]="['documents']" translate>academic documents</a>.
    </p>
</section>
