<div class="container">
    <div class="row">
        <app-profile class="col-12 col-lg-3 pr-md-5"></app-profile>
        <app-about-me class="col-12 col-lg-9 pl-md-4 mt-4 mt-lg-0"></app-about-me>
    </div>

    <!--TODO this should be an entire component with a template, stop doing this-->
    <app-responsive-section [title]="'Experience' | translate">
        <div id="experience-wrapper">
            <app-experience class="experience-item-wrapper"
                            [title]="'Research Support Superior Technician' | translate"
                            [corporation]="'Centro Singular de Investigación en Tecnologías Inteligentes (USC)' | translate"
                            [dayStart]="'2020-08-24' | translate"
                            [dayEnd]="'2020-12-14' | translate"
                            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' | translate"
                            [imageSrc]="'assets/img/placeholder-icon.png'"
            ></app-experience>

            <app-experience class="experience-item-wrapper"
                            [title]="'Research Support Superior Technician' | translate"
                            [corporation]="'Centro Singular de Investigación en Tecnologías Inteligentes (USC)' | translate"
                            [dayStart]="'2020-08-24' | translate"
                            [dayEnd]="'2020-12-14' | translate"
                            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' | translate"
                            [imageSrc]="'assets/img/placeholder-icon.png'"
            ></app-experience>

            <app-experience class="experience-item-wrapper"
                            [title]="'Research Support Superior Technician' | translate"
                            [corporation]="'Centro Singular de Investigación en Tecnologías Inteligentes (USC)' | translate"
                            [dayStart]="'2020-08-24' | translate"
                            [dayEnd]="'2020-12-14' | translate"
                            [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.' | translate"
                            [imageSrc]="'assets/img/placeholder-icon.png'"
            ></app-experience>
        </div>
    </app-responsive-section>

    <!--TODO this should be an entire component with a template, stop doing this-->
    <app-responsive-section [title]="'Skills' | translate">
        <ul id="skills" class="row">
            <li class="col-12 col-md-6">
                <app-skill [title]="'General purpose languages' | translate">
                    <ul class="skill-sublist">
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                    </ul>
                </app-skill>
            </li>

            <li class="col-12 col-md-6">
                <app-skill [title]="'General purpose languages' | translate">
                    <ul class="skill-sublist">
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                    </ul>
                </app-skill>
            </li>

            <li class="col-12 col-md-6">
                <app-skill [title]="'General purpose languages' | translate">
                    <ul class="skill-sublist">
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                    </ul>
                </app-skill>
            </li>

            <li class="col-12 col-md-6">
                <app-skill [title]="'General purpose languages' | translate">
                    <ul class="skill-sublist">
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                    </ul>
                </app-skill>
            </li>

            <li class="col-12 col-md-6">
                <app-skill [title]="'General purpose languages' | translate">
                    <ul class="skill-sublist">
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                    </ul>
                </app-skill>
            </li>
        </ul>
    </app-responsive-section>
</div>

<section id="home-conclusion">
    <div class="container">
        <h1 translate>Do you want to know more?</h1>
        <p translate>You can get in touch with me using:</p>
        <app-social-networks></app-social-networks>

        <div class="line-separator"></div>
        <p translate>Or you can <a href="" translate>download my CV as a PDF</a></p>

        <div class="line-separator"></div>
        <p translate>You can also explore my
            <a [routerLink]="['projects']" translate>projects</a>,
            <a [routerLink]="['activities']" translate>activities</a> and
            <a [routerLink]="['documents']" translate>academic documents</a>.
        </p>
    </div>
</section>
