#profile {
    text-align: center;
}

#profile-pic {
    border-radius: 16px;
    margin-bottom: 1rem;
}

#current-work {
    margin-bottom: 0.75rem;
}

#about-bullets {
    margin-top: 2rem;
}

#interests li {
    margin-bottom: 0.25rem;
}

.vertical-line {
    width: 2px;
    height: 100%;
    border: 1px solid #007bff;
    margin-left: 2rem;
    position: absolute;
}
