<div class="experience-item">
    <div class="row align-items-center">
        <div class="col-auto img-container">
            <img src="{{imageSrc}}" alt="">
        </div>

        <div class="col date-title-corporation">
            <h6>{{dayStart | localizedDate}} - {{dayEnd | localizedDate}}</h6>
            <h4>{{title}}</h4>
            <h5>{{corporation}}</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <div class="dummy-icon"></div>
        </div>

        <div class="col">
            <p>{{description}}</p>
        </div>
    </div>
</div>


