<ul class="social-networks row justify-content-center">
    <li class="col-auto px-2"><a href="https://github.com/samuelss1996" target="_blank"><img class="img-responsive" src="assets/img/icon/github.png" alt=""></a></li>
    <li class="col-auto px-2"><a href="https://www.linkedin.com/in/samuel-soutullo-sobral-660180117/" target="_blank"><img class="img-responsive" src="assets/img/icon/linkedin.png" alt=""></a></li>
    <li class="col-auto px-2"><a href="mailto:samuelsoutullosobral@gmai.com" target="_blank"><img class="img-responsive" src="assets/img/icon/mail.png" alt=""></a></li>
</ul>
