<ul class="social-networks row justify-content-center">
    <li class="col-auto px-2"><a class="{{renderMode}}" href="https://github.com/samuelss1996" target="_blank"><i class="fab fa-github"></i></a></li>
    <li class="col-auto px-2"><a class="{{renderMode}}" href="https://www.linkedin.com/in/samuel-soutullo-sobral-660180117/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li class="col-auto px-2"><a class="{{renderMode}}" href="mailto:samuelsoutullosobral@gmai.com" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
</ul>
