<app-article-list [title]="'Videogames' | translate">
    <app-article-list-item></app-article-list-item>
    <app-article-list-item></app-article-list-item>
    <app-article-list-item></app-article-list-item>
    <app-article-list-item></app-article-list-item>
</app-article-list>

<app-article-list [title]="'Apps' | translate">
    <app-article-list-item></app-article-list-item>
    <app-article-list-item></app-article-list-item>
    <app-article-list-item></app-article-list-item>
    <app-article-list-item></app-article-list-item>
</app-article-list>
