<header>
    <div class="shadow-medium" id="nav-wrapper">
        <nav class="container">
            <ul id="main-menu" class="row flex-nowrap justify-content-center">
                <li class="col-auto col-md-2"><a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" translate>menu.home</a></li>
                <li class="col-auto col-md-2"><a routerLink="projects" routerLinkActive="active" translate>menu.projects</a>
                </li>
                <li class="col-auto col-md-2"><a routerLink="activities" routerLinkActive="active" translate>menu.activities</a>
                </li>
                <li class="col-auto col-md-2"><a routerLink="documents" routerLinkActive="active" translate>menu.documents</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <p class="row justify-content-end"><a class="col-3" id="change-language" routerLink="" (click)="changeLanguage()" translate>Español</a></p>
    </div>
</header>
