@media (pointer: coarse) {
    .undecorated:hover {
        text-decoration: none !important;
    }
}

.img-responsive {
    width: 100%;
}

.black-text {
    color: #212529;
}

.white-text {
    color: #fff;
}

a.white-text:hover {
    color: #fff;
}

.undecorated {
    text-decoration: none;
}

.mini {
    font-size: 0.9rem;
}

a {
    text-decoration: underline;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
    color: #666;
    font-weight: normal;
}

h6 {
    font-size: 0.8rem;
    color: #007bff;
    font-weight: bold;
    margin: 0;
}

.shadow-medium {
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
}

@media (min-width: 768px) {
    p {
        text-align: justify;
    }
}
