.clearfix {
    float: none;
    clear: both;
}

@media (pointer: coarse) {
    a:hover {
        text-decoration: none !important;
    }
}

.img-responsive {
    width: 100%;
}

.black-text {
    color: #212529;
}

.white-text {
    color: #dedad6;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
    color: #666;
    font-weight: normal;
}

h6 {
    font-size: 0.8rem;
    color: #007bff;
    font-weight: bold;
    margin: 0;
}

p {
    text-align: justify;
}

.experience-item-wrapper:first-child .img-container::before,
.experience-item-wrapper:last-child .img-container::after
{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #007bff;
    display: block;
    position: absolute;
    left: 43px;
}

.experience-item-wrapper:first-child .img-container::before {
    top: -32px;
}

.experience-item-wrapper:last-child .img-container::after {
    top: 88px;
}
