<footer class="py-4 py-md-2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md order-md-1">
                <app-social-networks [renderMode]="'white-text'"></app-social-networks>
            </div>

            <p class="col-12 col-md text-center text-md-left my-3 my-md-0 order-md-0" translate>Developed with 💖 using
                <a href="https://angular.io/" target="_blank" translate>Angular</a> and
                <a href="https://getbootstrap.com/" target="_blank" translate>Bootstrap</a>
            </p>

            <div class="col-12 col-md text-center text-md-right order-md-2">
                <a href="https://github.com/samuelss1996/portfolio" target="_blank" translate>GitHub repository</a>
            </div>
        </div>
    </div>
</footer>
