<li>
    <div (mouseenter)="mouseOver = true" (mouseleave)="mouseOver = false">
        <img src="assets/img/placeholder-icon.png" alt=""/>
        <a *ngIf="mouseOver" href="" translate>Read more</a>

        <ul class="badge-list">
            <li>Unity</li>
            <li>C#</li>
            <li>Game Design</li>
        </ul>

        <h2>Under Surveillance</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        <p>Second paragaph lol.</p>
    </div>

    <a href=""><img src="favicon.ico" alt=""></a>
</li>
