<li class="mb-5">
    <div class="article-list-item" (click)="mouseOver = true" (mouseenter)="mouseOver = true" (mouseleave)="mouseOver = false">
        <a routerLink="1">
            <div class="article-thumbnail-wrapper">
                <img class="img-responsive article-thumbnail" src="assets/img/placeholder-pic.png" alt=""/>
                <h1 class="read-more-link" [class.hidden]="!mouseOver" translate>Read more</h1>
            </div>

            <app-badge-list></app-badge-list>

            <h3 class="mt-2" [class.underline]="mouseOver">Under Surveillance</h3>
            <p [class.underline]="mouseOver" class="mini text-left">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.</p>
            <p [class.underline]="mouseOver" class="mini text-left">Second paragaph lol.</p>
        </a>
    </div>

    <app-article-external-links></app-article-external-links>
</li>
